$text-color:#333;
$b-c-g:grey;
$b-c-r:#E80C39;/*red*/
$base-spacing:1em;
$zero:0;
$tc:center;/*text center*/
$wi:100%;/*width 100%*/
$linex:800px;
$font-color:rgba(12, 232, 164, 1);
$flex:flex;

$font-family1: 'Roboto', sans-serif;
$font-family2: 'Mina', sans-serif;








.fontMedia{
display: block;
margin: 0.5em;
padding: 0;
text-align: center;
color: white;
text-decoration: none;
font-size: 1.1em;
display: $flex;
flex-flow: column;
position: fixed;
top: 12em;
left: -.5em;
height: 12em;
width: 3em;


div{
height: 2.5em;
width: 2.5em;
margin: 5;
padding: .5em 0 0;
}

}


.youtube,
.github,
.twitter,
.reddit {
background-color: $font-color;
}



header{
display:$flex;
}

h2{
line-height: 280px;
}


img{
max-width: 100%;
height: auto;
display:block;
}




@mixin header{
color:rgba(12, 232, 164, 1);
text-align:$tc;
margin:50px;
font-size:85px;


}


@mixin header2{
color:rgba(12, 230, 120, 1);
font-size:8vmin;


}



@mixin para{
font-family:$font-family2;
text-align:$tc;
margin:25px;
}



@mixin Middle{
max-width:70em;
margin:auto;



}

footer{
margin-bottom:40px;

}

@mixin Middle2{
max-width:50em;
margin:auto;
}


main{
min-height: 1000px;
height: auto !important;
height: 600px;

}


body{
background-color:$b-c-r;
}

*{
margin:$zero;
padding:$zero;
}

h1{
color: $text-color;
}

header{
@include header;
font-family:$font-family1;
}

p{
@include para;

}


main{
background-color:$b-c-g;
@include Middle;
font-family:$font-family2;
div{
@include Middle2;
text-align:$tc;
}



}


footer{
text-align:$tc;
}





@media only screen and (max-width: 1110px) {



header{
@include header2;

}

h2{
display: inline-flex;
line-height: 200px;
}

}
$text-color:#333;
$b-c-g:grey;
$b-c-r:#E80C39;/*red*/
$base-spacing:1em;
$zero:0;
$tc:center;/*text center*/
$wi:100%;/*width 100%*/
$linex:800px;
$font-color:rgba(12, 232, 164, 1);
$flex:flex;

$font-family1: 'Roboto', sans-serif;
$font-family2: 'Mina', sans-serif;








.fontMedia{
  display: block;
  margin: 0.5em;
  padding: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  display: $flex;
      flex-flow: column;
      position: fixed;
      top: 12em;
      left: -.5em;
      height: 12em;
      width: 3em;


      div{
      	height: 2.5em;
  width: 2.5em;
  margin: 5;
  padding: .5em 0 0;
}

}


.youtube,
.github,
.twitter,
.reddit {
  background-color: $font-color;
}



header{
	display:$flex;
}

h2{
	line-height: 280px;
}


  img{
  	    max-width: 100%;
    height: auto;
    display:block;
  }




@mixin header{
	color:rgba(12, 232, 164, 1);
	text-align:$tc;
	margin:50px;
	font-size:85px;


}


@mixin header2{
	color:rgba(12, 230, 120, 1);
	font-size:8vmin;


}



@mixin para{
	font-family:$font-family2;
	text-align:$tc;
	margin:25px;
}



@mixin Middle{
	max-width:70em;
	margin:auto;



}

footer{
	margin-bottom:40px;

}

@mixin Middle2{
	max-width:50em;
	margin:auto;
}


main{
	min-height: 1000px;
    height: auto !important;
    height: 600px;

}


body{
	background-color:$b-c-r;
}

*{
	margin:$zero;
	padding:$zero;
}

h1{
	color: $text-color;
}

header{
	@include header;
	font-family:$font-family1;
}

p{
	@include para;

}


main{
	background-color:$b-c-g;
	@include Middle;
	font-family:$font-family2;
	div{
	@include Middle2;
	text-align:$tc;
}



}


footer{
	text-align:$tc;
}


   


 @media only screen and (max-width: 1110px) {



	header{
	@include header2;
	
}

	h2{
	display: inline-flex;
	line-height: 200px;
}

    }